<div class="center">
  <%- if controller_name != 'sessions' %>
    <hr>
    <strong><%= link_to "Sign in", new_session_path(resource_name) %></strong>
    <br>
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <hr>
    <strong><%= link_to "Register New Member", new_registration_path(resource_name) %></strong>
    <br>
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <hr>
    <strong><%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %></strong>
    <br>
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <hr>
    <strong><%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %></strong>
    <br>
  <% end -%>

  <%- if devise_mapping.omniauthable? %>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <%= link_to omniauth_authorize_path(resource_name, provider) do %>
        <hr>
        <% if provider.to_s == 'google_oauth2' %>
          <%= image_tag image_url('google-sign-in-button.png'), alt: provider.to_s.titleize, class: "img-responsive" %>
        <% else %>
          <strong><%= "Sign in with #{provider.to_s.titleize}" %></strong>
        <% end %>
        <br>
      <% end %>
    <% end -%>
  <% end -%>
</div>
