<%- if notice.present? %>
  <%= render partial: 'shared/alerts', locals: { type: 'success', text: notice } %>
<% end %>

<h2>Events</h2>
<hr/>

<div class="table-responsive">
  <table class="table">
    <thead>
      <tr>
        <th>Type</th>
        <th>Title</th>
        <th>Status</th>
        <th>Start time</th>
        <th>End time</th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @events.each do |event| %>
        <tr>
          <td><%= event.type %></td>
          <td>
            <%= link_to event do %>
              <%= event.title %>
            <% end %>
          </td>
          <td><span class="status-<%= event.status %>"><%= event.status %></span></td>
          <td><%= event.start_time.strftime("%b %d, %Y %I:%M%P") %></td>
          <td><%= event.end_time.strftime("%b %d, %Y %I:%M%P") %></td>
          <%- if event.is_a? Gig %>
            <td>
              <%= link_to edit_gig_path(event) do %>
                <%= fa_icon "pencil" %>
              <% end %>
            </td>
          <% end %>
          <td>
            <%= link_to event, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <%= fa_icon "trash" %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<hr/>

<%= link_to 'New Gig', new_gig_path, class: "btn btn-primary pull-right" %>
