<%= simple_form_for(@form) do |f| %>
  <% if @form.errors.messages.any? %>
    <%= render partial: 'shared/alerts', locals: { type: 'danger', text: "#{pluralize(@form.errors.messages.count, 'error')} prohibited this promotion from being saved." } %>
  <% end %>

  <%= f.input :title %>
  <%= f.input :url, label: 'URL Link' %>

  <%= f.input :event_id, as: :hidden %>

  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          When
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-12">
              <%= f.input :time_display, label: 'Display' %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Where
        </div>
        <div class="panel-body">
          <%= f.input :location_display, label: 'Display' %>
          <%= f.input :location_url, label: 'URL Link' %>
        </div>
      </div>
    </div>
  </div>

  <hr/>

  <div class="pull-right">
    <%= link_to 'Cancel', gigs_path, class: "btn" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
