<%= simple_form_for(@gig) do |f| %>
  <% if @gig.errors.any? %>
    <%= render partial: 'shared/alerts', locals: { type: 'danger', text: "#{pluralize(@gig.errors.count, 'error')} prohibited this gig from being saved." } %>
  <% end %>

  <%= f.input :title %>
  <%= f.input :details %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :start_time, as: :datetime %>
    </div>
    <div class="col-md-6">
      <%= f.input :end_time, as: :datetime %>
    </div>
  </div>

  <%= f.input :location %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :confirmation_deadline, as: :date %>
    </div>
    <div class="col-md-6">
      <%= f.input :status, collection: Gig.statuses.keys.to_a %>
    </div>
  </div>


  <div class="row">
    <div class="col-md-6">
      <%= f.input :payment %>
    </div>
    <div class="col-md-6">
      <%= f.input :payment_status, collection: Gig.payment_statuses.keys.to_a %>
    </div>
  </div>


  <%= f.input :merch_needs %>
  <%= f.input :plus_ones_allowed, as: :boolean %>

  <hr/>

  <div class="pull-right">
    <%= link_to 'Cancel', events_path, class: "btn" %>
    <%= f.button :submit, class: "btn btn-primary" %>
  </div>
<% end %>
