<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <% gigs.each do |gig| %>
        <tr class="row">
          <td class="col-fixed-icon">
            <span class="status status-<%= gig.status %>">
              <%= fa_icon gig_status_to_icon(gig.status), data: {toggle: 'tooltip', placement:'bottom'}, title: gig.status %>
            </span>
          </td>
          <td class="col-xs-2">
            <%= link_to gig do %>
              <%= gig.start_time.strftime("%b %-d, %Y") %>
            <% end %>
          </td>
          <td class="col-xs-10">
            <%= link_to gig do %>
              <%= gig.title %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
