<div class="table-responsive">
  <table class="table table-striped">
    <tbody>
      <% gigs.each do |gig| %>
        <tr class="row">
          <td class="col-fixed-icon">
            <span class="status status-<%= gig.status %>">
              <%= fa_icon gig_status_to_icon(gig.status), data: {toggle: 'tooltip', placement:'bottom'}, title: gig.status %>
            </span>
          </td>
          <td class="col-xs-2">
            <%= link_to gig do %>
              <%= gig.local_start_time.strftime("%^a, %b %-d, %Y") %>
            <% end %>
          </td>
          <td class="col-xs-8">
            <%= link_to gig do %>
              <%= gig.title %>
            <% end %>
          </td>
          <td class="col-xs-2">

            <% if gig.promotion %>
              <%= link_to edit_promotion_path(gig.promotion) do %>
                  Promoted
              <% end %>
            <% elsif gig.confirmed? %>
              <%= link_to new_event_promotion_path(gig) do %>
                Promote
              <% end %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
