<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gignado</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%- if !member_signed_in? %>
    <%= stylesheet_link_tag 'devise/signin', media: 'all', 'data-turbolinks-track' => false %>
  <% end %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%- if member_signed_in? && current_member.access_allowed %>
  <%= render partial: '/shared/navbar_signed_in' %>
<%- end %>



<div class="container">
  <%- if notice.present? %>
    <%= render partial: 'shared/alerts', locals: { type: 'success', text: notice } %>
  <% end %>

  <%= yield %>
</div>

<br/><br/>

</body>
</html>
