<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Gignado</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'devise/signin', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-12 hidden-xs">
      <br><br><br><br><br><br><br><br>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 hidden-xs" style="font-size: 5em; text-align: center;">
      <br>
      GIGNADO
    </div>
    <div class="col-sm-6 col-xs-12">
      <%= yield %>
    </div>
  </div>
</div>

<br/><br/>

</body>
</html>
