<%= simple_form_for query_form, url: query_members_path, method: 'get', html: { class: 'form-inline'}, remote: true do |f| %>

  <div class="row">
    <div class="col-md-6">
      <%= f.input :trial, as: :boolean, wrapper_html: { class: 'pull-left'} %>
      <%= f.input :active, as: :boolean, wrapper_html: { class: 'pull-left'} %>
      <%= f.input :sporadic, as: :boolean, wrapper_html: { class: 'pull-left'} %>
      <%= f.input :on_break, as: :boolean, wrapper_html: { class: 'pull-left'} %>
      <%= f.input :other, as: :boolean, wrapper_html: { class: 'pull-left'} %>
    </div>
    <div class="col-md-5">
      <%= f.input :patches, as: :boolean, wrapper_html: { class: 'pull-left'} %>
      <%= f.input :bus_drivers, as: :boolean, wrapper_html: { class: 'pull-left'} %>
      <%= f.input :section_leads, as: :boolean, wrapper_html: { class: 'pull-left'} %>
    </div>
    <div class="col-md-1">
      <%= link_to new_member_path, class: "btn btn-primary pull-right" do %>
        <%= fa_icon 'plus' %> New
      <% end %>
    </div>
  </div>

<% end %>
