<div class="sticky-header">
  <%= render partial: 'shared/title', locals: { title: member, icon: 'users'} %>
</div>
&nbsp;

<%= simple_form_for @form do |f| %>
  <% if @form.errors.messages.any? %>
    <%= render partial: 'shared/alerts', locals: { type: 'danger', text: "#{pluralize(@form.errors.messages.count, 'error')} prohibited this gig from being saved." } %>
  <% end %>

  <%= f.input :access_allowed, as: :boolean %>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Contact Info
        </div>
        <div class="panel-body">
          <%= f.input :first_name, placeholder: 'First Name' %>
          <%= f.input :last_name, placeholder: 'Last Name' %>
          <%= f.input :pronoun, placeholder: 'Pronoun' %>
          <%= f.input :email, placeholder: 'Email' %>
          <%= f.input :telephone, placeholder: '(  )   -   ' %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading">
          Band Info
        </div>
        <div class="panel-body">
          <%= f.input :section, collection: Member.sections.keys.to_a %>
          <%= f.input :status, collection: Member.statuses.keys.to_a %>
          <%= f.input :date_joined %>
          <%= f.input :section_lead, as: :boolean %>
          <%= f.input :has_bus_insurance, as: :boolean %>
          <%= f.input :has_patch, as: :boolean %>
        </div>
      </div>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      Tour Info
    </div>
    <div class="panel-body">
      <%= f.input :emergency_contact, as: 'text', placeholder: 'Contact Name and Info' %>
      <%= f.input :allergies, as: 'text', placeholder: 'Medical / Food Allergies we need to be aware of' %>
      <%= f.input :health_issues, as: 'text', placeholder: 'All health issues we need to accomodate for' %>
      <%= f.input :food_restrictions, as: 'text', placeholder: 'Vegitarian, Vegan, Non-Dairy, GF, etc' %>
    </div>
  </div>

  <div class="pull-left">
    <%= link_to 'Delete', destroy_member_path(member), class: "btn btn-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>

  <div class="pull-right">
    <%= link_to 'Cancel', members_path, class: "btn" %>
    <%= f.button :button, class: "btn btn-primary" do %>
      <%= fa_icon "pencil" %>
      Update
    <% end %>
  </div>


<% end %>
